.todo-list__links {
  padding: 10px;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
}

@media (max-width: 520px) {
  .todo-list__links {
    padding-left: 55px;
  }
}
