.todo-list__controls {
  padding: 10px 18px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  background: #fff;
}

@media (max-width: 400px) {
  .todo-list__controls {
    padding: 10px 15px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 10px;
  }
}
