.todo-list__task:hover .todo-list__delete-btn {
  opacity: 1;
}

.todo-list__delete-btn {
  position: absolute;
  z-index: 1;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #a6a6a6;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
  background: none;
  border: none;
}

@media (max-width: 520px) {
  .todo-list__delete-btn {
    right: 10px;
    opacity: 1;
  }
}
