.todo-list__task {
  position: relative;
  padding: 16px 15px;
  width: 100%;
  max-width: 481px;
  height: auto;
  min-height: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 520px) {
  .todo-list__task {
    width: 100%;
    max-width: 286px;
    gap: 13px;
    font-size: 14px;
  }
}

ul .todo-list__task.checked {
  color: #a6a6a6;
  text-decoration: line-through;
}
