.todo-list__task {
  position: relative;
  padding: 15px;
  width: 481px;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #cfcfcf;
}

.todo-list__task:hover span {
  opacity: 1;
}

ul .todo-list__task span {
  position: absolute;
  opacity: 0;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #a6a6a6;
  transition: all 0.2s;
}

@media (max-width: 400px) {
  .todo-list__task {
    width: 286px;
    height: 16px;
  }
}

ul .todo-list__task span:hover {
  color: #b83f45;
  border-radius: 20px;
}

ul .todo-list__task.checked {
  color: #a6a6a6;
  text-decoration: line-through;
}
